body {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font: 14px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	background: white;
	color: #777;
}
#title_auth{
font-size:25px;
margin-top:-20px;
text-align:center;
border-bottom:1px dashed;
}
#info_table{
	margin-left:-10px;
	border-radius:5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-shadow:0 0 10px rgba(0,0,0,4);
}
#container {
	border-radius:5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow:0 0 10px rgba(0,0,0,4);
	background:#E8E8E8;
	text-align: left;
	z-index: 1000;
	width: 300px;
	background: #fff;
}
#login_logo {
	
	width: 200px;
	height: 0px;
	margin-left: 50px;
	margin-top: 70px;
	padding-top: 10px;
	margin-bottom: 20px;
	background: #fff url(../images/login/kbtut.gif) repeat-x left bottom;
}

input{
	color:orange;
	font-size:18px;
	border-radius:5px 5px 5px 5px;
	width: 225px;
	border: solid #e3e3e3 2px;
	height:30px;
	background:none;
	padding:4px 0;
	vertical-align:middle;
	margin-left:35px;
	margin-bottom:10px;
}

input:hover {
	background:none;
	border: solid #aad4e3 2px;
	background-position:left bottom;
}

input.button {
	font-weight: bold;
	color: #fff;
	background:url(../images/auth_b.png) 0px -0px no-repeat;
	border:none;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 30px;
}

input.button:hover {
	background:url(../images/auth_b_hover.png) 0px -0px no-repeat;
}

label{
	font-size:20px;
	width:200px;
	padding-top:7px;
	padding-left:50px;
}

#demo_text{
	margin-left:50px;
	width:200px;
}