/*---------------------*/
#nav,#nav li ul{margin-left:220px; margin-top:0px; padding:0px;list-style:none;}

#nav > li{
	float:left;
	width:120px;
}

#nav li ul{
	margin-left:-1px;
	display:none;
	position:absolute;
	z-index:100;
	width:120px;
}
#nav li:hover ul{display:block}


/*---------MAIN MENU------------*/
#nav > li{
	background-color:#F5F5F5;
	text-align:center;
	padding:10px 0px 10px 0px;
	border-top:1px solid #E8E8E8;
	border-right:1px solid #E8E8E8;
}
#nav > li:hover{background-color:#E8E8E8;}

#nav > li > a{
	font:14px "Geargia";
	color:#000000;
	text-decoration:none;
	text-transform:uppercase;
}

/*---------SUB MENU------------*/
#nav li ul{
	margin-top:10px;
	background-color:#ffffff;
	border:1px solid #E8E8E8;
}
#nav li ul li{
	text-align:left;
	padding:5px 5px 5px 15px;
}
#nav li ul a li {
	font:14px "Geargia";
	color:#000000;
	text-decoration:none;
}
#nav li ul a li:hover{
	background:#ff9900;
	font:14px "Geargia";
	color:white;
	text-decoration:none;
}
a:hover{
text-decoration:none;
}
a{
text-decoration:none;
}