
table.collapse{

border-collapse:collapse;

border-style:solid;
font-family:Tahoma;
font-size:8pt;


}

.rh {
background-color:White;
vertical-align:Top;
color:Black;
text-align:Center;
}
.rt {
vertical-align:Top;
color:Black;
text-align:Left;
}




table.silver {

border-collapse:collapse;
border-width:1px;
border-style:solid;
border-color:Silver;
font-family:Tahoma;
font-size:8pt;


}

table.silver td {
border-width:1px;
border-style:solid;
border-color:Silver;

}
.rh {
background-color:White;
vertical-align:Top;
color:Black;
font-weight: bold;
text-align:Center;
}
.rhl {

vertical-align:Top;
color:Black;
font-weight: bold;
text-align:right;
}

.rt {
vertical-align:Top;
color:Black;
text-align:Left;
}
.rb {
vertical-align:Top;
color:Black;
font-weight: bold;
}