/*
Written by Samiev Suhrob
experienced web-developer@designer
write2m:suhrob87@gmail.com
*/

*{
  font-family: Palatino Linotype;
  color:#000000;
  background-color:#FFF;
  /*last*/font-size:12pt;
}
html{
	margin:0;
}

body 
{
	margin:0 0;
}
div#maincnts
{
	border: 0px;
	border-color:#FFF;
}

#btnprint{
display:none;
}
h1{
	font-size: 14pt;
	font-weight: bold;
}
h2{
	font-size: 13pt;
	font-weight: bold;
}
h3{
	font-size: 12pt;
	font-weight: bold;
}


table.collapse{
  border-collapse: collapse;
  border: 0px;
  border-color:#FFF;
}

table.collapse td caption {
  font-weight: bold;
}


table td  {
  font-size: 12pt;
}

table td.caption1  {
  font-size: 12pt;
  font-weight: bold;
}

table td.caption2  {
  font-size: 13px;
  font-weight: bold;
}
table td.caption3  {
  font-size: 14pt;
  font-weight: bold;
}
table th{
  font-size: 12pt;
  font-weight:bold;

}
table th.main{
  font-size: 12pt;
  font-weight:bold;
  text-transform:uppercase;

}
 
/*Processing data styles*/
.processDataGood{
  font-size:14px;
  font-family: Palatino Linotype;
  border:dotted;
  padding: 10px 10px;
  text-align: center;
  color:#003333;
  text-transform: uppercase;
  background-color: #FFCC00;
  display:none;

}

.processDataBad{
  font-size:14px;
  font-family: Palatino Linotype;
  border:dotted;
  padding: 10px 10px;
  text-align: center;
  color:#FFFFFF;
  text-transform: uppercase;
  background-color:#FF0000;
  display:none;

}
.dropdown 
{
	display:none;
}
input #nop
{
	diplay:none;
}

table.collapse{
border-collapse:collapse;
border-style:solid;
font-family:Tahoma;
font-size:8pt;
}


