h1{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}


h5	{
	font-size: 14px;
	font-weight: bold;
	color: #A10005;
}

input.line{
border-bottom:1px solid #000000;
border-left:none;
border-right:none;
border-top:none;
font-size: 12px;

}
input.bordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;

font-size: 12px;
}
input.cmdbordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;
text-align:center;
font-size: 12px;
}

input.bordernone:hover{
background-color:#FFFACD;

}
input.line:hover{
background-color:#FFFACD;

}


table.collapse{

border-collapse:collapse;

border-style:solid;
font-family:Tahoma;
font-size:8pt;


}

.rh {
background-color:White;
vertical-align:Top;
color:Black;
text-align:Center;
}
.rt {
vertical-align:Top;
color:Black;
text-align:Left;
}





select{

font-family:Tahoma;
font-size:8pt;
    border-style: solid;
    border-width: 1;
    border-color: silver;
    background-color:#FFFFFF;

}
.sh {
	font-weight: bold;
}
textarea{

font-family:Tahoma;
font-size:8pt;


}
p{

font-family:Tahoma;
font-size:8pt;


}

p.error{

font-family:Tahoma;
font-size:8pt;
color:red;
}



input
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    border-style: solid;
    border-width: 1;
    border-color: silver;
    background-color:#FFFFFF;
}

textarea
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    border-style: solid;
    border-width: 1;
    border-color: silver;
    background-color:#FFFFFF;
}

select.line{
border-bottom:1px solid #000;
border-left:none;
border-right:none;
border-top:none;
font-size:12px;

}

select.bordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;
font-size:12px;

}
.unline{
  vertical-align: top;
  font-style: italic;
  font-size: small;
  font-family: Times New Roman;
  text-align:center;
}



.style1 {
	font-size: small;
	font-style: italic;
}
.style3 {font-style: italic}
.style4 {font-size: x-small}

.h {
color:Black;
font-family:Tahoma;
font-size:8pt;
}
table.silver {

border-collapse:collapse;
border-width:1px;
border-style:solid;
border-color:Silver;
font-family:Tahoma;
font-size:8pt;

padding:3px;
}
/*table.silver td:hover
{
	background-color:#f8ed9e;
	color:#000;
}
*/
table.silver tr:hover{
	background-color:#d6e3ee;
	color:#000;
}

table.silver td {
border-width:1px;
border-style:solid;
border-color:Silver;
padding:3px;
}
.rh {
background-color:White;
vertical-align:Top;
color:Black;
font-weight: bold;
text-align:Center;
}
.rhl {

vertical-align:Top;
color:Black;
font-weight: bold;
text-align:right;
}
.rt {
vertical-align:Top;
color:Black;
text-align:Left;
}
.rb {
vertical-align:Top;
color:Black;
font-weight: bold;
}