UNKNOWN {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
HR {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; size: 1px
}
A:hover {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
P.moveup {
	MARGIN-TOP: -10pt; MARGIN-BOTTOM: 0pt
}
.small {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.smallwhite {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.red {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.logo {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.logo:hover {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.ann {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.ann:hover {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.novosti {
	FONT-SIZE: 12px; COLOR: #ffcc00; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.novosti:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.novostiDesc {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.novostiDesc:hover {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.und {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.und:hover {
	FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.annsmall {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.annsmall:hover {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.Black {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.Black:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: underline
}
A.small {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.small:hover {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Verdana; LETTER-SPACING: normal; TEXT-DECORATION: underline
}
A.LeftMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #112255; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.LeftMenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #112255; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.LeftMenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #112255; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
A.LeftMenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #112255; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.fnote {
	CURSOR: help; COLOR: #990000
}
.cbox {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffcc00; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.mbox {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.menuBox {
	BORDER-RIGHT: #99c4ee 1px solid; BORDER-TOP: #99c4ee 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #99c4ee 1px solid; BORDER-BOTTOM: #99c4ee 1px solid
}
.catMenu {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #336699 1px solid; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #336699
}
.catcenter {
	BORDER-RIGHT: #ddeedd 1px solid; BORDER-TOP: #ddeedd 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #ddeedd 1px solid; BORDER-BOTTOM: #ddeedd 1px solid; BACKGROUND-COLOR: #336633
}
.centerBox {
	BORDER-RIGHT: #336633 1px solid; BORDER-TOP: #336633 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #336633 1px solid; BORDER-BOTTOM: #336633 1px solid
}
.box {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; Z-INDEX: 100; BORDER-LEFT: 1px solid; WIDTH: 30px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.supertitle {
	MARGIN-TOP: 15pt; FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 15pt; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: center
}
.voimja {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: center
}
.hadis {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.ayat {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 12px; MARGIN: 0pt; TEXT-INDENT: 25px; FONT-FAMILY: Arial, Verdana
}
P.ayat {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN: 3pt 3pt 3pt 25pt; TEXT-INDENT: 0px; FONT-FAMILY: "Verdana"; TEXT-ALIGN: justify
}
H3 {
	MARGIN-TOP: 1.5cm; FONT-SIZE: 14pt; MARGIN-BOTTOM: 0.5cm; COLOR: red; FONT-FAMILY: "Bookman Old Style"; TEXT-ALIGN: center
}
H4 {
	MARGIN-TOP: 0.8cm; FONT-SIZE: 14pt; MARGIN-BOTTOM: 0.4cm; COLOR: teal; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.bigtitle {
	MARGIN-TOP: 15pt; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 15pt; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.title {
	MARGIN-TOP: 15pt; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 15pt; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.def {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.book {
	MARGIN-TOP: 3pt; FONT-SIZE: 12px; MARGIN-BOTTOM: 5pt; FONT-FAMILY: Arial, Verdana
}
.text {
	MARGIN-TOP: 2pt; FONT-SIZE: 12px; MARGIN-BOTTOM: 2pt; FONT-FAMILY: Arial, Verdana
}
