<STYLE type=text/css id="default" title="default" name="default">

*::-moz-any-link br,*:-moz-any-link br {
/*a workarround for mozilla*/
display:none;
}

div#menu * {
  cursor: pointer; /*because IE displays the text cursor
if the link is inactive*/
}
.disabled {
   color: red !important;
   background: none !important;
}
div#menu {
   background: silver;
   font: 20px Arial, Verdana, sans-serif;
   height: 20px;
   white-space: nowrap;
   width: 100%;
   }

div#menu .a {
   background:  silver;
   border: 6px solid silver;
   color:  #000000;
   text-decoration: none;
   text-align: left;
}

div#menu .a table {
   display: block;
   font: 15px Verdana, sans-serif;
   font-weight: bold;
   white-space: nowrap;
}

div#menu table, div#menu table a {
   display: none;
}

div#menu .a:hover, div#menu div.menuitem:hover {
   background:  #424242;
   border: 0px solid  #000000;
   color:   #FFFFFF;
   margin-right:-1px; /*resolves a problem with Opera
not displaying the right border*/
}

div#menu .a:hover table, div#menu div.menuitem:hover table{
   background: #424242;
   border: 1px solid  #000000;
   display: block;
   position: absolute;
   white-space: nowrap;
}

div#menu .a:hover table a, div#menu div.menuitem:hover table a {
   border-right: 1px solid white; /*resolves a jump problem*/
   color: #FFFFFF;
   display: block;
   padding:  2px 10px ;
   text-decoration: blink;
   white-space: nowrap;
   z-index: 1000;

}

div#menu .a:hover table a:hover, div#menu div.menuitem:hover table a:hover {
   background: #000000;
   border: 1px solid #424242;
   color: #FFFFFF ;
   display: block;
   padding: 0px 10px;
   text-decoration: none;
   z-index: 1000;
}

td {
   border-width: 0px;
   padding: 0px 0px 0px 0px;
}
.menuitem {
   float: left;
   margin: 1px 1px 1px 1px;
   padding: 1px 1px 1px 1px;
}

.menuitem * {
   padding: 0px 0px 0px 0px;
}
#other {
  height: auto;visibility: visible;
}
#moz{
  height: 1px;visibility: hidden;
}
#moz::-moz-cell-content{
  height: auto; visibility: visible;
}
#other::-moz-cell-content{
  height: 1px; visibility: hidden;
}
#holder {
  width: 100%;
}


</STYLE>
