#calendarDiv{
	position:absolute;
	width:205px;
	border-width:1px;
	border-style:solid;
	padding:1px;
	background-color:white;
	color:black;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#calendarDiv .selectBox{
	border-width:1px;
	border-style:solid;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border-width:1px;
	border-style:solid;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border-width:1px;
	border-style:solid;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border-width:1px;
	border-style:solid;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
}
#calendarDiv .todayDay{		/* Today in the calendar */
	font-weight:bold;
	text-decoration:underline;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}

#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	width:72px;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}

#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: teal;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:teal;
	color: #E2EBED;
}
#calendarDiv td{
	text-align:right;
	cursor:pointer;
}
#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}
