h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#styletwo{
	position:relative;
	display:block;
	height:24px;
	font-size:11px;
	font-weight:bold;
	background:transparent url(../images/bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	}

#styletwo ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#styletwo ul li{
	display:block;
	float:left;
	margin:0 1px 0 0;
	}

#styletwo ul li a{
	display:block;
	float:left;
	color:#000;
	text-decoration:none;
	padding:6px 20px 0 20px;
	height:24px;
	}

#styletwo ul li a:hover,#styletwo ul li a.current{
	color:#fff;
	background:transparent url(../images/bgON.gif) repeat-x top left;
}