body		{
	font-family: Palatino Linotype;
	font-size: 11px;
	color: #000000;
	
		}

table, tbody {
		font-family: Palatino;
		font-size: 11px;
		border-collapse: collapse;
}
table.silver {

border-collapse:collapse;
border-width:1px;
border-style:solid;
border-color:Silver;
font-family:Tahoma;
font-size:8pt;

padding:3px;
}

td{ 
	  font-family: Tahoma;
	  font-size: 8pt;
	  font-weight: normal;
	  font-style: normal;
	}
table#report td:hover
{
	background-color:#f8ed9e;
	color:#000;
}
table#report tr:hover{
	background-color:#d6e3ee;
	color:#000;
}


th		{ 
		  font-family: Tahoma;
		  font-size: 8pt;
		}


b		{ font-weight: bold;
		}

samp	{ font-family: Palatino Linotype;
		  font-size: 9px;
		}

h4		{
	font-size: 16px;
	font-weight: bold;
	color: #A10005;
}

h5		{
	font-size: 14px;
	font-weight: bold;
	color: #A10005;
}



.navlink	{
			color: #FFFFFF;
			}

a.navlink:link {
			color: #C9DCEF;
			text-decoration: none;
			}

a.navlink:visited {
			color: #C9DCEF;
			text-decoration: none;
			}

a.navlink:hover {
			color: #FFFFFF;
			font-weight: bold;
			text-decoration: none;
			}
.offline {
			color: #C0C0C0;
			font-style:italic;
}

.textfield	{ border-style: solid;
		border-width: 1px;
		border-color: #669999;
		width: 310px;
		font-family: Palatino Linotype;
		font-size: 11px;
}

.textfield_full	{ border-style: solid;
		border-width: 1px;
		border-color: #669999;
		width: 99%;
		font-family: Palatino Linotype;
		font-size: 11px;
}

.textfield_small { border-style: solid;
		border-width: 1px;
		border-color: #669999;
		width: 110px;
		font-family: Palatino Linotype;
		font-size: 11px;
}

.textfield_nosize { border-style: solid;
		border-width: 1px;
		border-color: #669999;
		font-family: Palatino Linotype;
		font-size: 11px;
}

.textfield_nosize_readonly { border-style: solid;
		border-width: 1px;
		border-color: #669999;
		background-color: silver;
		font-family: Palatino Linotype;
		font-size: 11px;
}

.submitbutton { FONT: 7pt verdana, arial,Helvetica,sans-serif;
		font-weight: bold;
		color: #000000;
		border: #000000 1px solid;
		padding: 1px;
		overflow: visible; /* seems to keep ie (inc 7) in check without anything else */
		background-color:#D4D7C5;
}

.submitbuttonon { FONT: 7pt verdana, arial,Helvetica,sans-serif;
		font-weight: bold;
		color: #FFFFFF;
		border: #000000 1px solid;
		padding: 1px;
		overflow: visible; /* seems to keep ie (inc 7) in check without anything else */
		background-color:#FF3408;
}

.dropdownsmall {
	font-family: Palatino Linotype;
	font-size: 8.5pt;
	font-weight: normal;
	border-style: solid;
	width: 400px;
}

.navheader {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #152C51;
}

.pageheader {
	background-color: #DEE1E9;
	color: #0008E7;
	font-weight: bold;
}

.tableheader {
color: black;
font-weight: bold;
background-image: url(../cmsimg/bg_tableheader.gif);
}

.tiny {
	font-size: 7pt;
}

.nicetable {
border-color: #DEE3EF;
border-style: solid;
border-width: 1px;
border-collapse: collapse;
background-color: #FFFFFF;
}

.listtable th {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 0px;
/*	border-left-width: none; */
	border-top-color: #111111;
	border-bottom-color: #111111;
	background-color: #DDDCB2;
	color:#333333;
	text-align:left;
	font-size: 7pt;
}

.listtable td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.listtable td.noborder {
	border-width: 0px;
}

.edittable td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

.normaltable td {
border-width: 0px;
}

.footer a:link {
	color: #333333;
}

.footer a:visited {
	color: #333333;
	text-decoration: none;
}

.footer a:hover {
	color: white;
	background: #FF3408;
	font-weight: normal;
	text-decoration: none;
}
.title {
	background-color: #D6DCE3;
	font-weight:bold;
}
.subtitle {
	background-color: #BCDC9B;
	font-weight:bold;
}
.verplicht {
        color: #FF0000;
        font-weight: bold;
}


/*DIAL 1*/
#content {padding:20px}
#dialog {position:absolute; width:425px; padding:10px; z-index:200; background:#fff}
#dialog-header {display:block; position:relative; width:411px; padding:3px 6px 7px; height:14px; font-size:14px; font-weight:bold}
#dialog-title {float:left}
#dialog-close {float:right; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px; background:url(images/dialog_close.gif) no-repeat}
#dialog-content {display:block; height:160px; padding:6px; color:#000000; font-size:13px}
#dialog-mask {position:absolute; top:0; left:0; min-height:100%; width:100%; background:#FFF; opacity:.90; filter:alpha(opacity=90); z-index:100}
.error {background:#fff url(images/error_bg.jpg) bottom right no-repeat; border:1px solid #924949; border-top:none}
.errorheader {background:url(images/error_header.gif) repeat-x; color:#000000; border:1px solid #924949; border-bottom:none}
.warning {background:#fff url(images/warning_bg.jpg) bottom right no-repeat; border:1px solid #c5a524; border-top:none}
.warningheader {background:url(images/warning_header.gif) repeat-x; color:#957c17; border:1px solid #c5a524; border-bottom:none}
.success {background:#fff url(images/success_bg.jpg) bottom right no-repeat; border:1px solid #60a174; border-top:none}
.successheader {background:url(images/success_header.gif) repeat-x; color:#3c7f51; border:1px solid #60a174; border-bottom:none}
.prompt {background:#fff url(images/prompt_bg.jpg) bottom right no-repeat; border:1px solid #4f6d81; border-top:none}
.promptheader {background:url(images/prompt_header.gif) repeat-x; color:#355468; border:1px solid #4f6d81; border-bottom:none}



/*DIAL2*/


#dialog2{
	display: none;
	z-index: 999;
	position: absolute;
	background-color: #eee;
	padding: 10px;
	border-width: 4px 4px;
	border-color: #BF6A30;
	border-style: solid;
	text-align: center;
	overflow: hidden;
}

		/* dialog buttons */
		#dialog2 input{
			color: white;
			background-color: #6A93D4;
			border: 1px #ccc solid;
			width: 65px;
			height: 20px;
			margin: 18px 5px 0px 0px;
			font-size: 10px;
		}

		/* buttons in dialog */
		#dialog2 p{
			margin: 0;
		}


/* shaded div */
#shade{
	z-index: 998;
	display: none;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
}

/*END DIAL2*/

/*fieldset*/
fieldset
{
	border:1px solid #cecece;
	color:#333333;
}
input.line{
border-bottom:1px solid #000000;
border-left:none;
border-right:none;
border-top:none;
}

input.cmdbordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;
text-align:center;
font-size: 12px;
}

input.bordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;
font-size: 12px;
}

table.collapse{
border-collapse:collapse;
border-style:solid;
font-family:Tahoma;
font-size:8pt;
}
.upperc{
	text-transform:uppercase;
}
.star
{
	color:#F00;
}
div#alerting{
background-color: #0e77a7;
text-align:center;
color:#fff;
width:500px;
position:relative;
margin:0 0 0 300px;
font-size:14px;
}
.alerting{
background-color: #0e77a7;
text-align:center;
color:#fff;
width:500px;
position:relative;
margin:0 0 0 300px;
font-size:14px;
}

select.bordernone{
border-bottom:none;
border-left:none;
border-right:none;
border-top:none;
font-size:12px;

}

input
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    border-style: solid;
    border-width: 1;
    border-color: silver;
    background-color:#FFFFFF;
}
