h1{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

h4{
	font-size: 12px;
	font-weight: bold;
	color: #A10005;
}

h5	{
	font-size: 14px;
	font-weight: bold;
	color: #A10005;
}

input.line{
border-bottom:1px solid #000000;
border-left:none;
border-right:none;
border-top:none;
}


table.collapse{
  border-collapse: collapse;
}

table.collapse td caption {
  font-size: 12px;
  font-weight: bold;
}


table td  {
  font-size: 12px;
}

table td.caption1  {
  font-size: 12px;
  font-weight: bold;
}

table td.caption2  {
  font-size: 13px;
  font-weight: bold;
}
table td.caption3  {
  font-size: 14px;
  font-weight: bold;
}



table th{
  font-size: 12px;
  font-weight:bold;

}

table th.main{
  font-size: 14px;
  font-weight:bold;
  text-transform:uppercase;

}





select.line{
border-bottom:1px solid #000;
border-left:none;
border-right:none;
border-top:none;
font-size:12px;

}

.unline{
  vertical-align: top;
  font-style: italic;
  font-size: small;
  font-family: Times New Roman;
  text-align:center;
}



.style1 {
	font-size: small;
	font-style: italic;
}
.style3 {font-style: italic}
.style4 {font-size: x-small}
